<form>
	<div class="form-group row">
		<div class="col-xs-2">
			<label for="custumer_name">Customers Name :</label>
			<select [(ngModel)]="selectedCustomer" class="form-control" id="custumer_name" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let item of customers" [ngValue]="item.id">{{item.name}}</option>
      </select>
		</div>
		<div class="col-xs-1">
			<label for="discount">Discount :</label>
			<input [(ngModel)]="discountValue" name="discountValue" type="number" class="form-control" id="discount" [ngModelOptions]="{standalone: true}">
		</div>
    <div class="col-xs-4">
      <label for="product_name">Product name :</label>
      <select  [(ngModel)]="selectedProduct" name="selectedProduct" id="product_name" class="form-control">
        <option *ngFor="let item of products" [ngValue]="item.id">{{item.name}}</option>
      </select>
    </div>
    <div class="col-xs-1">
      <label for="amount">Amount :</label>
      <input  [(ngModel)]="amountValue" name="amountValue" type="number" id="amount" class="form-control">
    </div>
		<button class="btn add-btn" (click)="addProduct(amountValue)" [disabled]="!selectedProduct  || !selectedCustomer">Add product</button>
	</div>
</form>
<product-table [productsList]="productsList" [total]="total"></product-table>
<button class="btn" routerLink="/invoices" routerLinkActive="active">Back</button>
